@use "../abstracts/variables" as variable;
@use "../abstracts/mixins" as mixin;

.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(variable.$color-grey-light-1, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all 0.3s;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(variable.$color-black, 0.2);
      border-bottom: 3px solid variable.$color-primary;
    }

    &:focus:invalid {
      border-bottom: 3px solid variable.$color-secondary-dark;
    }

    &::placeholder {
      color: variable.$color-grey-dark-2;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__radio-group {
    width: 49%;
    display: inline-block;
  }

  &__radio-input {
    display: none;
  }

  &__radio-label {
    font-size: variable.$default-font-size;
    cursor: pointer !important;
    position: relative;
    padding-left: 4.5rem;
  }

  &__radio-button {
    position: absolute;
    left: 0;
    top: -0.4rem;
    height: 3rem;
    width: 3rem;
    border: 5px solid variable.$color-primary;
    border-radius: 50%;
    display: inline-block;

    &::after {
      content: "";
      display: block;
      width: 1.3rem;
      height: 1.3rem;
      border-radius: 50%;
      background-color: variable.$color-primary;
      opacity: 0;
      transition: opacity 0.2s;

      @include mixin.center-horizontalvertical;
    }
  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }
}
