@use "../abstracts/variables" as variable;

.section-about {
  background-color: variable.$color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh; //je to velikost headeru 95vh-výška toho clip-path 75vh
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(variable.$color-primary-light, 0.8),
      rgba(variable.$color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(7deg);
  }
}
